<!DOCTYPE html>
<html>
  <head>
      <title>WhereToRecycle</title>
      <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Welcome to my WhereToRecycle App</h1>
       <div id="picture"><img src="../static/images/recyclingsymbol2.png" width="200" height="150" alt="recycling symbol" title="recycling symbol"></div>
      </div>
    </header>
    <div class="container">
       <h1>Recycling<br>
        /rēˈsīk(ə)liNG/<br>
        noun<br>
        ▪ the action or process of converting waste into reusable material<br></h1>
    </div>
<div id="picture"><img src="../static/images/separatingrecycling.jpg" width="300" height="250" alt="separating recycling" title="separating recycling"></div>

<h3><a href="https:search.earth911.com">earth.911.com Where to recycle items SEARCH</a></h3>
<h3><a href="https://www.epa.gov/recycle/how-do-i-recycle-common-recyclables">epa.gov "How Do I recycle common items"</a></h3>
<h3><a href="https://www.epa.gov/recycle/recycling-basics-and-benefits">epa.gov "Recycling basics and benefits"</a></h3>
</body>
</html>
