<!DOCTYPE html>
<html>
  <head>
      <title>WhereToRecycle</title>
      <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Welcome to my WhereToRecycle App</h1>
       <div id="picture"><img src="../static/images/recyclingsymbol2.png" width="200" height="150" alt="recycling symbol" title="recycling symbol"></div>
      </div>
    </header>
    <div class="container">
       <h1>Recycling<br>
        /rēˈsīk(ə)liNG/<br>
        noun<br>
        ▪ the action or process of converting waste into reusable material<br></h1>
    </div>

	<div>

		 <p>"Recycling is the process of collecting and processing materials that would otherwise be thrown away as trash and turning them into new products. Recycling can benefit your community, the economy, and the environment. Products should only be recycled if they cannot be reduced or reused."</p>
 <h3>Benefits of Recycling</h3>
<p>Conserves natural resources, reduces greenhouse gas emissions, saves energy, and reduces waste and pollution. in a single year, recycling and reuse activities in the United States accounted for: 681,000 jobs, $37.8 billion in wages, and $5.5 billion in tax revenues.</p>


	</div>	
		
	
			
	  
<h3><a href="https:search.earth911.com">earth911.com Where to recycle items SEARCH</a></h3>
<h3><a href="https://www.epa.gov/recycle/how-do-i-recycle-common-recyclables">epa.gov "How Do I recycle common items"</a></h3>
<h3><a href="https://www.epa.gov/recycle/recycling-basics-and-benefits">epa.gov "Recycling basics and benefits"</a></h3>
</body>
</html>
